@use '../../variables' as v;

.app-bar {
  height: 80px;
  color: #fff;
  background-color: v.$primary;
  display: flex;
  align-items: center;
  .nav-bar-logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    img {
      height: 100%;
    }
  }
  .app-links {
    color: #fff;
    padding: 10px;
    &:hover {
      background-color: darken(v.$secondary, 10%);
    }
  }
}

.logo {
  height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    img {
      height: 100%;
    }
}
