.roundIconBorder {
  border: 2px solid white;
  border-radius: 100%;
  background-color: white;
  vertical-align: middle;
}

.verified {
  @extend .roundIconBorder;
  color: green;
}

.unverified {
  @extend .roundIconBorder;
  color: red;
}
