.roundIconBorder {
  border: 2px solid white;
  border-radius: 100%;
  background-color: white;
  vertical-align: middle;
}

.verified {
  @extend .roundIconBorder;
  color: darkgreen;
}

.unverified {
  @extend .roundIconBorder;
  color: darkred;
}
